= simple_form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f|
  %h2= t :forgot_password_title
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, t(:send_me_reset_password_instructions), class: 'btn-primary btn-block'
