!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %title= @title.nil? ? 'Title' : @title
    = csrf_meta_tags
    = stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'users', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid.users-container
      .form-box
        = yield
        = render "users/shared/links"
